@import'normalize'
@import'helper'
@import'components'

.home
  margin-bottom:1rem;
  .usershow
    text-indent: 0.3rem;
    color: #4a4a4a;
    font-weight: 800;
    margin-top .2rem
  .top
    background-image:linear-gradient(-180deg, #68ddff 0%, #0382f2 100%);
    width:100vw;
    height:5.5rem;
    text-align: center;
    img
      width: 6rem;
      margin-top: .3rem;
  .time
    width: 100vw;
    height: 1.3rem;
    text-align: center;
    background:#0076ed;
    color #fff
    margin-bottom .3rem
    p
      line-height .4rem
      img
        width .3rem
        position relative
        top .05rem
        margin 0 .1rem
    p:first-child
      font-size .2rem
      padding-top .2rem
    p:last-child
      font-size .3rem
      font-weight 600
  .scroll
    display: -webkit-box;
    width: 100vw;
    overflow-x: scroll;
    a
      display block
    img
      margin .2rem .15rem
      width: 2.5rem;
      height: 2.5rem;
      display inline-block
  .scroll2
    img
      width 35vw
      height 35vw
      display block
  .xindong
    text-align: center;
    font-size: .28rem;
    margin-bottom.8rem
    span.bottom
      font-size: .3rem;
      display: block;
      width: 5.5rem;
      height: 1.2rem;
      line-height: 1.2rem;
      margin: 0 auto;
      margin-top: .2rem;
      background:#2a8eef;
      box-shadow:0px 2px 16px 0px rgba(0,133,255,0.51);
      border-radius:100px;
      color:#ffffff;
      text-align:center;
  .guize
    color:#3d4d65;
    padding: .3rem;
    font-size: .23rem;
    margin-bottom: .7rem;
    h2
      line-height: 1rem;
      font-size: .28rem;
  .lastyaoqing
    background:#2a8eef;
    box-shadow:0px 2px 8px 0px rgba(94,168,240,0.45);
    border-radius:100px;
    margin-top: .4rem;
    width:5.5rem;
    height:1.2rem
    font-size:.3rem;
    color:#ffffff;
    text-align:center;
    margin: 0 auto;
    line-height 1.2rem

.product
  img
    width 100vw
  h1
  h2
  h3
    font-weight 100
    margin 0 .4rem
    margin-top .2rem
  h1
    background: #239fff;
    border-radius: 100px;
    width: 1.3rem;
    font-size: .23rem;
    color: #ffffff;
    letter-spacing: 0px;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
  h2
    font-size: .33rem;
    color: #4a4a4a;
    letter-spacing: 0px;
    text-align: left
  .bottom
    position fixed
    bottom 0
    width 100%
    line-height 1.2rem
    height 1.2rem
    background #2a8eef;
    color #fff
    font-size .3rem
    text-align center

.invite
  padding-bottom 2rem
  .empty
    margin-top: 20vh;
    text-align: center;
    img
      width: 1.5rem;
    p
      font-family: PingFangSC-Medium;
      font-size: .28rem;
      color: #4a4a4a;
      line-height: .5rem;
    .bottom2
      display: inline-block;
      padding: .2rem;
      border-radius: 10px;
      width: 40vw;
      margin-top: 1.7rem;
      background:#2a8eef;
      color #fff

.success
  padding-top 18%
  text-align: center;
  img
    width 1.8rem
  h2
    font-size: .33rem;
    color: #4a4a4a;
    line-height: 1rem;
    text-align: center;
  p
    color: #848484;
    line-height: .4rem;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
  .erweima
    width 3rem
    margin-top .5rem
  h3
    font-size:.28rem;
    color:#3d4d65;
    line-height:22px;
    text-align:center;

.invitepage
  padding-bottom 2.5rem
  .avatar
    text-align center
    margin-top: .22rem;
    img
      width 1.1rem
      border-radius: 100%;
      border: 1px solid #f7f7f7;
  .invitelist
    background:#f6f6f6;
    font-size .24rem
    li
      margin-left: 1rem;
      border-bottom: 1px solid #e2e2e2;
      line-height: .7rem;
      position: relative;
      img
        width: .45rem;
        border-radius: 100%;
        position: absolute;
        left: -.7rem;
        top: .1rem;
      .invitetime
        float right
        color #b9b9b9
        padding-right .3rem
  .pageline
    margin-top: .1rem;
    line-height: .5rem;
    font-size: .23rem;
    color: #3d4d65;
    text-align: left;
    padding: 0 .3rem;
    .abo
      float: right;
      letter-spacing:1px;

.mail
  padding 5vw
  padding-bottom 1.2rem
  text-align center
  h1
    font-size:.29rem;
    color:#4a4a4a;
    letter-spacing:0px;
    text-align:left;
    line-height .5rem
  .yellowp
    font-size:.25rem
    color:#f5a623;
    letter-spacing:0px;
    text-align:left;
  input
    display: block;
    background: #eceff4;
    border: 1px solid #cad3df;
    border-radius: 5px;
    width: 100%;
    height: .9rem;
    margin-top: .25rem;
    text-indent: .3rem;
    line-height: .4rem;
    font-size:.3rem
  input::-webkit-input-placeholder
    font-size:.28rem
    color:#8493a8;
    text-align:left;
  .middleh
    line-height 1.4rem
  .scroll
    display: -webkit-box;
    width: 90vw;
    overflow-x: scroll;
    .one
      position relative
      width 40vw
    a
      display block
    img
      width 35vw
      margin-right .2rem
      display: inline-block;
      float: left;
    p
      text-align left
      font-size .2rem
      width 60%
    .active
      img
        border: 1px solid #5baeff;
      .choose
        border none
        width .33rem
        position absolute
        top .2rem
        right .2rem


